* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Neo Sans Pro';
  font-weight: normal;
}

body {
  background: #000;
}

.home {
  position: relative;
  display: flex;
  justify-items: center;
  flex-flow: wrap row;
  margin: auto;
  overflow: hidden;
  width: 800px;
  height: 800px;
  box-shadow: inset 0 0 100px 50px black;
  background: url("img/content/home.jpg") center no-repeat;
  background-size: 100%;
}